# dependencies
backend/node_modules
frontend/node_modules

# environment variables
backend/.env
frontend/.env

# prisma generated
backend/src/generated/prisma

# uploads
backend/uploads/

# next.js
frontend/.next/
frontend/out/

# build
backend/dist/